/*

* Override Pages default styles or create your own styles here

*/
.checkbox.is-invalid ~ .invalid-feedback {
    display: block;
}
.light-heading {
    background-color: #f8f8f8;
}
.firstchildnomargin:first-child{
    margin-top:0px !important;
}
.lightsection{
    padding: 15px 10px;
    background: #f8f8f8;
    margin-bottom: 10px
}
.select2-container .select2-selection {
    border:none !important;
}
.no-border-radius {
    border-radius: 0px !important;
}
.btn-small {
    padding:3px 8px;
}
.form-group-default .form-control {
    height: 39px !important;
}
.select2-container {
    width:100% !important;
}
.append-section .section-colored {
    padding: 10px;
}
.append-section .section-colored:nth-child(even) {
    background-color: #f8f8f8;
}
.btn-add-more {
    margin-top:10px;
    margin-bottom:10px;
}
.card-body#searchfields {
    background: #f8f8f8;
}
.dropdown-menu > .dropdown-item:last-child {
    margin-top: 0px !important;
}
@media only screen and (max-width: 800px) {

    .hide-mobile {
        display: none !important;
    }
    /* Force table to not be like tables anymore */
    table.table , 
    .table thead, 
    .table tbody, 
    .table th, 
    .table td, 
    .table tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table tr { border: 1px solid #ccc; }

    .table td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative !important;;
        padding-left: 50% !important;; 
        white-space: normal;
        text-align:left;
    }

    table td:before { 
        /* Now like a table header */
        position: absolute !important;
        /* Top/left values mimic padding */
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important; 
        white-space: nowrap !important;
        text-align:left !important;
        font-weight: bold !important;
    }

    /*
    Label the data
    */
    table td:before { content: attr(data-title); }
    .show-in-print {
        display: none !important;
    }
}

tr.bg-primary {
    background-color: #90ee90 !important;
}
tr.bg-red {
    background-color: #ff92a4 !important;	
}
.form-group-default label {
    padding:0px !important;
}
body {
    overflow-x:hidden !important;
}
.card-body h4 .btn-small {
    margin-top:2px;
}
.table thead tr th {
    font-weight: bold;
    color:#333;
}
.menu-bar ul li a {
    font-weight: normal;
    color:#222 !important;
}
.profile-dropdown > a:last-child {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.table input {
    /*max-width: 120px !important;*/
}
.header.bg-primary {
    /*background-color: #97b9f8 !important;*/
    background-color: #282828 !important;
}
@media (max-width: 400px) {
    .table input {
        width:100% !important;
        margin-top: 10px;
    }
}

@media (max-width:991px) {
    .header-sm-height ul li a {
        color: #fff !important;
    }
    .header-sm-height ul .dropdown-menu-right a {
        color: #222 !important;
    }
}


@media (max-width: 1400px) {
    h4.semi-bold {
        font-size: 18px;
        line-height: 33.88px !important;
    }
}
a.btn.btn-warning.d-md-none.m-t-10 {
    display: none !important;
}
ul.pagination  {
    flex-wrap: wrap!important;
}
.counter {
    background-color:bisque;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
/*.work-order-ul li {*/
/*    padding-left: 20px !important;*/
/*    padding-right: 20px !important;*/
/*}*/

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #e5bc4a;
}
div.counter-top {

    /* Old browsers */
    background: linear-gradient(to right, bisque 50%, #f7cf5f 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition:all 2s ease;
}
div.animated {
    background-position:right bottom;
}
thead input {
    width: 100%;
}
.dataTables_length label {
    display: block !important;
}
.dataTables_filter label {
    display: block !important;
    text-align: right !important;
}
.grid-wrapper {
    background: #fff;
}

.grid-body .row:nth-child(even) {
    background-color: #f8f8f8 !important;
}
.grid-body .row:nth-child(odd) {
    background-color: white !important;
} 
@media(min-width:768px) {
    .grid-header .row , .grid-body .row {
        border-bottom:1px solid #dfdfdf;
    } 
    .grid-header .row div ,.grid-body .row div {
        //border-right:1px solid #dfdfdf;
        padding-left: 20px;
    } 
    .grid-header .row div:last-child , .grid-body .row , .grid-body .row div:last-child{
        border-right:none !important;
        border-bottom:none !important;
    }
}
@media (max-width:767px) {
    .grid-wrapper {
        word-break: break-word;
        background: #ccc;
    }

}    
.counter-content {
    max-width: 320px;
    margin:auto;
    padding-left: 20% !important;
    padding-right: 10% !important;
}
.counter-content i {
    line-height: 53px;
}
.counter-content h2 {
    line-height: 25px;
}
.counter-content p {
    line-height: 30px;
}
.rounded-circle {
    padding: 0px 8px;
    font-size: 12px;
}
.profile-dropdown > a {
    min-width: 145px !important;
}

.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    /*margin: 5px;*/
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary{
    background-color: #007bff;
    color: #FFF;
}

.card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
}  

.card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
}  

.card-counter.info{
    background-color: #26c6da;
    color: #FFF;
}  

.card-counter i{
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 50px;
    font-size: 32px;
    display: block;
    text-shadow: 1px 1px 1px #333 !important;
    font-weight: bold;
}

.card-counter .count-name{
    position: absolute;
    right: 22px;
    top: 25px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 1;
    display: block;
    font-size: 18px;
    left: 30px;
    text-shadow: 1px 1px 1px #333 !important;
}
ul.custom-pills {
    width: 100% !important;
    padding: 10px !important;
}
ul.custom-pills .nav-item {
    border:0px !important;
}
.custom-pills .nav-link {
    padding: 0px !important;
}
ul.custom-pills .nav-link {
    box-shadow: 0px;
    border: 0px;
}
ul.custom-pills .nav-link.active {
    background:none !important;
    box-shadow: 8px 5px 20px black;
    border: 2px solid orange;
    border-radius: 6px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: rgb(141 140 131) !important;
}
.form-group label:not(.error) {
    text-transform: capitalize !important;
}

.bdr {
    border-color: #07c25f !important;
    border-width: thick;
}

.nav-tabs .nav-link.active {
    color: white !important;
    background-color: #11C566 !important;
}
.nav-tabs .nav-link {
    border: 1px solid #11C566 !important;
    margin-right: 3px;
    border-radius: 0px !important;
}

ul.pagination{
    justify-content: end;
    margin-top: 15px;
}

.table-sm tbody tr td,
.table-sm tbody tr th
{
    padding: 5px;
}
.table-disabled th,.table-disabled td{
    background-color: #f4f4f5 !important; 
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
@media only screen and (max-width: 800px) {
    .table-sm-styling{
        border: none !important;
    }
    .table-sm-styling tr{
        margin-bottom: 10px !important;
    }
}
.issues-items{
    padding:7px;
    background-color: #d2f1eb;
    color: #11705c;
    border-color: #11705c;
}
.not-selected{
    background-color: #fedad0;
    color: #952b0d;
    border-color: #952b0d;

}